* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 50%;
  margin: auto;
}
header {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px;
}

.description {
  display: inline-block;
  text-align: justify;
  color: white;
  max-width: 60%;
  margin-left: 40px;
}
.description p,
.description h3 {
  margin-bottom: 24px;
}
.description h3 {
  font-size: 23px;
}

@media screen and (max-width: 900px) {
  .formcontainer {
    float: none;
    margin: auto;
  }
  .description {
    max-width: none;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

#menu {
  margin-right: 15px;
  float: left;
}

#menu a{
    color: white;
  }

#menu ul li {
  margin: 0;
  padding: 0px;
  text-align: left;
  list-style-type: none;
}

#menu a:link {
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  display: block;
}

#menu a:hover {
  background: #333;
}

footer {
    float: right;
    margin-right: 10px;
}

.title {
  font-size: 25px;
}

.div-conteudo {
  margin-top: 15px;
}

.formcontainer {
  width: 230px;
  background-color: #ffffffbb;
  padding: 20px;
  float: right;
}
h2 {
  font-size: 16px;
}
.mb {
  margin-bottom: 15px;
}

.picture {
  float: left;
  width: 160px;
}
